.transactions-card {
    padding: 2vmin;
    border-radius: 1vmin;
    box-shadow: 0 0 1vmin gray;
    font-size: 0.9rem;
    height: 15vmin;
    background-color: white;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.transaction-buy {
    border-left: 1vmin solid green;
}

.transaction-sell {
    border-left: 1vmin solid red;
}