@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  gap: 1vmin;
}

.App .transaction-status {
  display: flex;
  gap: 2vmin;
}

.profit {
  color: green;
}

.loss {
  color: red;
}