@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-image: url('./images/bg.svg');
  padding: 3vmin;

  gap: 1.5vmin;
  user-select: none;
}

.App .transaction-status {
  display: flex;
  gap: 2vmin;
  height: 60%;
  width: 60%;
  justify-content: center;
}

.profit {
  color: green;
}

.loss {
  color: red;
}